<!DOCTYPE html>
<html>
  <head>
    <title>Words Per Minute Challenge</title>
    <meta name="description" content="Challenge your friends to a typing race">
    <meta name="keywords" content="typing tutor,free typing games,typing,touch typing,typing test,typing lessons,wpm,typing software,typing game,typing practice,free typing program,typing games for kids,best typing game,typing skills,free typing test">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <div id="wrap">
    <div id="wrap-inner">
      <%= yield %>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 center-text">
          <%= link_to "cjavilla.com", "http://cjavilla.com" %>
          <%= link_to "wpmchallenge.com", "http://wpmchallenge.com" %>
          <%= link_to "status203.me", "http://status203.me" %>
          <%= link_to "ForkMe", "https://github.com/w1zeman1p/code_racer/fork" %>
          <%= link_to "@w1zeman1p", "https://twitter.com/wizemanip" %>
          <%= link_to "@wpmchallenge", "https://twitter.com/wpmchallenge" %>
          <% if current_user.try(:admin) %>
            U: <%= User.count %>; E: <%= RaceEntry.count %>
          <% end %>
        </div>
      </div>
    </div>
  </footer>
  <% if current_user %>
    <script>
      window.CURRENT_RACER = {
        id: <%= current_user.id %>,
        nickname: "<%= current_user.nickname %>",
        guest: <%= current_user.guest? %>,
        wpm: <%= current_user.average_wpm %>,
        picture: "<%= current_user.picture %>"
      };
      window.SOCKET_PATH = "<%= ENV["SOCKET_BASE"] %>";
    </script>
  <% end %>

  <%= javascript_include_tag 'application' %>
  <%= yield :scripts %>
  <script>
    window.fbAsyncInit = function() {
      FB.init({ appId:'1616025808625237',xfbml:true,version:'v2.2'});
    };
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-58930900-1', 'auto'); ga('send', 'pageview');
  </script>
  </body>
</html>
