<!DOCTYPE html>
<html>
<head>
  <title>Words Per Minute Test</title>
  <meta name="description" content="Measure how fast you type with a words per minute test">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<%= javascript_include_tag 'application' %>
<%= yield :scripts %>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId:'601299516638325',xfbml:true,version:'v2.2'});
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   setTimeout(function () {
   }, 1000);
</script>
</body>
</html>
